@use '../abstracts' as *;

table {
    width:100%;
}

.tblCont {
    border-top:2px solid $primary-color;
    table {
        font-size: $font-clamp-desc;
        color: $sub-color;
        line-height: 1.55;
        th {
            font-weight: 700;
            color: $primary-color;                      
        }
        td {   
            text-align: center;  
            padding-left:2rem;
            padding-right:2rem;   
            font-weight: 500;    
            strong {
                font-weight: 700;
                color: $primary-color;
            }
            &.tal {
                text-align: left;
                padding-left: clamp(2rem, 4vw,5rem);
            }
        }
        th, td {
            border-bottom: 1px solid $border-color;  
            border-right: 1px solid $border-color;
            padding-top: clamp(1.1rem, 1.56vw, 1.6rem);
            padding-bottom: clamp(1.1rem, 1.56vw, 1.6rem);
            &:last-child {
                border-right: 0;
            }
        }
    }
    &.board-list {
        table {
            th {
                font-size: clamp(1.5rem, 1.95vw, 2rem);
            }
            td {
                color: $primary-color;
                font-size: $font-clamp-md;
                &.tal {                    
                    padding-left: 2rem;
                    a {
                        display: inline-block;
                    }
                    span {
                        vertical-align: middle;
                    }
                }
            }
        }
    }
}

.garo-scroll {
    .tblCont {
        width: 100%;
        min-width: 102.4rem;   
        &.board-list {
            min-width: 60rem;
        }     
    }
}