#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
  height: 100%;
}

.box-wrap {
  display: flex;
  justify-content: center;
  gap: 3rem;
  width: 80%;
  margin: 0 auto;
}
.box {
  border: 1px solid #ddd;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  flex: 1;
  text-align: center;  
}

.box.win{
  border:2px solid greenyellow;
}

.box.lose {
  border:2px solid gray;
}

.box-btns {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}