@use '../abstracts' as *;
body { 
    @include font-base($default-locale); 
    color: $primary-color;
    &::-webkit-scrollbar{
        width: 5px;
        height: 5px;
        background-color: #ececec;
        appearance: none;
    }
    &::-webkit-scrollbar-thumb {
        background-color:#898989;
        border-radius: 3px;
    }
    &.home {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;        
    } 
    &.load {
        opacity: 1;
    }
    // 태블릿 이하에서 폰트 크기 조정
    @include respond(tablet) {
        
    }    
    // 모바일에서 폰트 크기 조정
    @include respond(mobile) {        
        //line-height: $line-height-relaxed; // 모바일에서 가독성 향상
    }
}
h1, h2, h3 {
    font-weight: 700;   
}
#wrap {
    width: 100%;
    max-width: 2560px;
    margin: 0 auto;
}
.static{
    max-width: 132rem;
    width: 100%;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
}
.main{
    .static{
        max-width: 156rem;
        width: 100%;
        margin: 0 auto;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
footer {
    .static {
        max-width: 156rem;
        width: 100%;
        margin: 0 auto;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
.pc-only {
    @include respond(mobile) {
        display: none;
    }
}
.mo-only {
    display: none;
    @include respond(mobile) {
        display: block;
    }
}
.ph-only {
    display: none;
    @include respond(phone) {
        display: block;
    }
}
.not-scroll {  
    overflow: hidden;
    width: 100%;
    height: 100vh;   
    body {
        padding-right: 5px;
    } 
}
.items {
    &-col2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: clamp(2rem, 1.39vw, 2rem);
        > li {
            border: 1px solid $border-color;
            > div {
                height: 10rem;
            }
        }
        @include respond(mobile) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    &-col3 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: clamp(2rem, 1.39vw, 2rem);
        > li {
            border: 1px solid $border-color;
            > div {
                height: 20rem;
            }
        }
        @include respond(tablet) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include respond(mobile) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
.accordions {
    &-btn {
        border: 1px solid $border-color;
        width: 100%;
        padding: 1rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    &-content {
        max-height: 0;
        overflow: hidden;
        background: #f8fafc;
        transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
        opacity: 0;
        p {
            padding: 2rem;
        }
    }   
    .show {
        .accordions-content {
           max-height: 50rem;
           opacity: 1;           
        }
    }
}
.n-motion {  
    opacity: 0; 
    transition: all 0.5s;
    &.n-active {
        opacity: 1;
    }
    &.n-left {        
        transform: translateX(-7rem);
        &.n-active {           
            transform: translateX(0);
        }
    }
    &.n-right {        
        transform: translateX(7rem);
        &.n-active {            
            transform: translateX(0);
        }
    }
    &.n-top {        
        transform: translateY(-7rem);
        &.n-active {            
            transform: translateY(0);
        }
    }
    &.n-bottom {        
        transform: translateY(7rem);
        &.n-active {            
            transform: translateY(0);
        }
    }   
}
.errMsg {
    display: none;
}
@keyframes fadeInUpTab {
    0% {opacity: 0; transform: translateY(30px);}
    100% {opacity: 1; transform: translateY(0);}
}
@keyframes fadeIn {
    0% {opacity: 0; visibility: hidden;}
    100% {opacity: 1; visibility: visible;}
}

main {
    background: #dfdfdf;
    width: 100%;
    min-height: 100vh;
}

#root {
    width: 100%;
    min-height: 100%;
}
#contents,
#container {
    width: 100%;
    min-height: 100vh;
}