@use "./variables" as *;

/* Thin 100 */
@font-face {
    font-family: 'SUIT';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src:
        local('SUIT Thin'),
        url('#{$url-fonts}SUIT-Thin.woff2') format('woff2');
}

/* ExtraLight 200 */
@font-face {
    font-family: 'SUIT';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src:
        local('SUIT ExtraLight'),
        url('#{$url-fonts}SUIT-ExtraLight.woff2') format('woff2');
}

/* Light 300 */
@font-face {
    font-family: 'SUIT';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src:
        local('SUIT Light'),
        url('#{$url-fonts}SUIT-Light.woff2') format('woff2');
}

/* Regular 400 */
@font-face {
    font-family: 'SUIT';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
        local('SUIT Regular'),
        url('#{$url-fonts}SUIT-Regular.woff2') format('woff2');
}

/* Medium 500 */
@font-face {
    font-family: 'SUIT';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src:
        local('SUIT Medium'),
        url('#{$url-fonts}SUIT-Medium.woff2') format('woff2');
}

/* SemiBold 600 */
@font-face {
    font-family: 'SUIT';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src:
        local('SUIT SemiBold'),
        url('#{$url-fonts}SUIT-SemiBold.woff2') format('woff2');
}

/* Bold 700 */
@font-face {
    font-family: 'SUIT';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src:
        local('SUIT Bold'),
        url('#{$url-fonts}SUIT-Bold.woff2') format('woff2');
}

/* ExtraBold 800 */
@font-face {
    font-family: 'SUIT';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src:
        local('SUIT ExtraBold'),
        url('#{$url-fonts}SUIT-ExtraBold.woff2') format('woff2');
}

/* Heavy/Black 900 */
@font-face {
    font-family: 'SUIT';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src:
        local('SUIT Heavy'),
        url('#{$url-fonts}SUIT-Heavy.woff2') format('woff2');
}
/*Montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

