#root {
    width: 100%;
    height: 100%;
}

.rps-header {
    padding: 5rem 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    &::after {
        content: '';
        display: block;
        width: 10rem;
        height: 10rem;        
        background: url(./assets/images/rock-paper-scissors.png) no-repeat 50% 0;
        background-size: cover;
    }
}

.rps-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 100rem;
    gap: 4rem;
    margin:0 auto;  
    h2 {
        margin-bottom: 2rem;
        p{
            margin-top: 1rem;
            font-size: 0.75em;
        }
    }
    .rps-my,
    .rps-comp {
        flex: 1;
        text-align: center;
    }
    .rps-box {
        border: 1px solid #222;
        padding: 2rem;
        background: #fff;

        &.win {
            border:4px solid green;
        }
        &.lose {
            
        }
        &.tie {
            border:4px solid gray;
        }
        
    }
    .rps-act {
        margin: 2rem 0;
        img {
            display: inline-block;
        }
    }
}

.rps-choice-rps {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
    button {
        width: 10rem;
        height: 10rem;
        border-radius: 100%;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        padding: 1rem;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.rps-choice{
    text-align: center;
    padding: 4rem 0 3rem;
}
.rps-reset {
    text-align: center;
    button {
        background: #222;
        color:#fff;
        border-radius: 0.5rem;
        padding: 1rem 2rem;
    }
}